description = "Page footer"
==
<div id="footer">
    <div class="container">
        <hr />
        <p class="muted credit">&copy; 2020 - {{ "now"|date("Y") }} Noortje Adolfs, Daphne Bosch, Linard Koning </p>
    </div>
</div>