description = "Header menu search box"
==
<div class="menu-searchbox hidden-md hidden-sm">
    <form class="navbar-form" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="q">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="fas fa-search"></i></button>
        </div>
    </div>
    </form>
</div>