.container-padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.section-white {
  background-color: #FFFFFF;
}
.section-grey {
  background-color: #EEEEEE;
}
.header {
  background-image: url('../images/header.jpg');
  background-size: cover;
  width: 100%;
  padding-top: 150px;
  padding-bottom: 150px;
  color: #FFFFFF !important;
}
.header h1 {
  color: #FFFFFF !important;
  font-weight: 700;
  text-shadow: 0px 3px 5px #000000;
}
/* .header h4 {
    color: #FFFFFF !important;
} */
.navbar {
  background-color: #FFFFFF;
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.75);
}
.custom-toggler.navbar-toggler {
  border-color: #000000;
}
.slepen-img {
  width: 100%;
  margin-top: 50px;
}
.menu-searchbox {
  float: left;
  width: 200px;
}
.nav {
  padding-right: 20px;
}
.post-list {
  padding: 0;
}
.post-list li {
  list-style: none;
}
.post-list li h3 {
  font-size: 20px;
}
.post-list li .info {
  font-size: 12px;
}
