title = "Homepage"
url = "/"
layout = "defaulttemplate"
description = "Homepage van Federatie Sloeproeien Nederland"
meta_title = "Homepage"
meta_description = "Homepagina van Federatie Sloeproeien Nederland"
is_hidden = 0

[contenteditor]

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
<div class="p-5 text-center bg-light header">
    <h1 class="mb-3">Federatie Sloeproeien Nederland</h1><br>
</div>
<div class="section section-white">
    <div class="container container-padding">
      <div class="row">
        <div class="col-sm-3">
            <h3>Kalender</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur atque enim, amet quis quod soluta necessitatibus possimus sapiente voluptate cumque, commodi deleniti repudiandae, nostrum tenetur voluptatem voluptas illo quae officiis?<br>
            <a href="#">Meer wedstrijden <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="col-sm-3">
            <h3>Uitslagen</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur atque enim, amet quis quod soluta necessitatibus possimus sapiente voluptate cumque, commodi deleniti repudiandae, nostrum tenetur voluptatem voluptas illo quae officiis?<br>
            <a href="#">Oudere uitslagen <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="col-sm-3">
            <h3>Klassement</h3>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur atque enim, amet quis quod soluta necessitatibus possimus sapiente voluptate cumque, commodi deleniti repudiandae, nostrum tenetur voluptatem voluptas illo quae officiis?<br>
            <a href="#">Klassement-info <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="col-sm-3">
            <h3>Nieuws</h3>
            {% component 'blogPosts' %}
            <a href="/nieuws">Meer nieuws <i class="fas fa-angle-double-right"></i></a>
        </div>
      </div>
    </div>
</div>
<div class="section section-grey">
    <div class="container container-padding">
      <div class="row">
          <div class="col-sm-12">
            {% component 'contenteditor' file="homepage/homepage-welcome-title.htm" fixture="h1" %}
            {% component 'contenteditor' file="homepage/homepage-welcome-text.htm" fixture="p"%}     
        </div>
      </div>
    </div>
</div>
<div class="section section-white">
    <div class="container container-padding">
      <div class="row">
          <div class="col-sm-6">
            {% component 'contenteditor' file="slepen/slepen-info-title.htm" fixture="h3" %}
            {% component 'contenteditor' file="slepen/slepen-info-text.htm" fixture="p"%}    
            <a href="#">Lees meer <i class="fas fa-angle-double-right"></i></a>
        </div>
        <div class="col-sm-6">
            <img src="{{ 'assets/images/slepen.png'|theme }}" class="slepen-img"/>
        </div>
      </div>
    </div>
</div>